* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(217, 54%, 11%);
}

h1 {
    font-weight: 600;
    color: hsl(0, 0%, 100%);
}

h1, p {
    font-family: 'Outfit', sans-serif;
}